body {
    background-color: rgb(230, 230, 230);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: white;
    height: 70px;
    
}
#Logo {
    margin: 10px;
    margin-left: 20px;
}
#titolo {
    display: inline;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main {
    margin: 4% 20%;
    background-color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;   
}
nav button{
    background-color: #47A9E8 ;
    color: white;
    border-radius: 7px;
    border: 0;
}

section{
    margin: 50px;
}

   td {
    width: 30px;
}